* {
    box-sizing: border-box;
}

html {
	background-color: lightgray;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

header,
footer {
	background-color: lightgray;
}

header,
main,
footer {
	padding: 5px 10px;
}

footer {
	margin-top: 20px;
}

header .title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 0;
}

header nav {
	padding: 5px 0;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.errorMessage {
	border: 2px solid black;
	padding: 0.5em;
	background-color: orange;
}

.monospace {
	font-family: monospace;
}

.gallery .image {
	position: relative;
	display: inline-block;
	width: 316px;
	margin: 0 2px;
}

#notfound {
	text-align: center;
	color: red;
	border: 1px solid black;
	background-color: lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.alert {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-danger {
    background-image: linear-gradient(to bottom, #F2DEDE 0px, #E7C3C3 100%);
    background-repeat: repeat-x;
    border-color: #DCA7A7;
}

.red-border {
    box-shadow: 0 0 3px 2px red;
}